<app-header></app-header>
<div class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-lg my-45">

  @if (comidas.length === 0) {
  <div class="text-center text-gray-500 py-20">
    <mat-icon class="text-6xl mb-4">shopping_cart</mat-icon>
    <p class="text-lg">Tu cesta está vacía</p>
    <p class="text-sm text-gray-400">Añade alguna comida para ver tu pedido aquí.</p>
  </div>
  }@else {

  <h2 class="text-2xl font-bold mb-4 text-gray-800">Tu pedido:</h2>

  <div class=" divide-gray-200">
    @for (item of comidas; track item.nombre) {
    <div class="flex justify-between items-center py-4 rounded-lg relative bg-cover bg-center my-5 "
      [style.background-image]="'url(' + item.imagen + ')'">

      <div class="absolute inset-0 bg-gradient-to-t from-black/70 via-black/40 to-transparent rounded-lg"></div>

      <div class="relative z-10 flex flex-col gap-2 p-4 text-white flex-grow">
        <h3 class="text-lg font-semibold drop-shadow-md">{{ item.nombre }}</h3>
        <p class="text-sm drop-shadow-md text-amber-400 font-semibold">
          Precio: {{ item.precio }}€
        </p>

        <mat-form-field appearance="fill" class="w-24">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" min="1" [(ngModel)]="item.cantidad" id="cantidad-{{item.id}}" />
        </mat-form-field>
      </div>

      <button (click)="eliminarItem(item.id)" class="relative z-10 text-red-400 hover:text-red-600 transition ml-4">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }

    <div class="mt-6 flex justify-between items-center border-t pt-4">
      <span class="text-xl font-bold text-gray-700">Total:</span>
      <span class="text-xl font-bold text-green-600">{{ calcularTotal().toFixed(2) }} €</span>
    </div>

    <div class="mt-6">
      <button (click)="finalizarPedido()"
        class="w-full bg-cyan-500 hover:bg-cyan-600 text-white font-semibold py-3 px-4 rounded-lg shadow transition">
        Hacer pedido
      </button>
    </div>


  </div>
  }

</div>

@if (mostrarStepper) {
<div class="fixed inset-0 z-50 bg-black/50 flex items-center justify-center">
  <div class="bg-white rounded-lg p-6 shadow-xl w-full max-w-2xl z-50">
    <mat-stepper linear #stepper (selectionChange)="onStepChange($event)">
      <!-- Paso 1 -->
      <mat-step [editable]="false">
        <ng-template matStepLabel>Creación del pedido</ng-template>
        <h3 class="text-lg font-semibold mb-2 text-blue-800">Resumen del pedido</h3>

        @for (item of comidas; track item) {
        <div class="flex justify-between mb-2">
          <span class="text-sm text-gray-700">{{ item.nombre }} x{{ item.cantidad }}</span>
          <span class="text-sm font-semibold text-green-600">{{ (item.precio * item.cantidad).toFixed(2) }} €</span>
        </div>
        }
        <div class="mt-4 border-t pt-2 flex justify-between font-bold text-gray-800">
          <span>Total:</span>
          <span>{{ calcularTotal().toFixed(2) }} €</span>
        </div>


        <div class="flex justify-between mt-6">
          <button mat-button (click)="mostrarStepper = false"
            class="bg-gray-300 hover:bg-gray-400 text-black px-4 py-2 rounded">
            Cancelar pedido
          </button>
          <button mat-button (click)="crearPedido()" matStepperNext
            class="bg-cyan-500 hover:bg-cyan-600 text-white px-4 py-2 rounded">
            Confirmar pedido
          </button>
        </div>

      </mat-step>

      <mat-step [editable]="false">
        <ng-template matStepLabel>Pagar Pedido</ng-template>
        <div class="mb-4">
          <label class="block text-sm font-semibold text-cyan-700 ">Correo</label>
          <input type="text" [(ngModel)]="form.email" name="address" placeholder="Ej. ejemplo@gmail.com"
            class="mt-1 block w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-white  shadow-sm focus:border-cyan-500 focus:ring-2 focus:ring-cyan-400 p-2" />
        </div>

        <!-- Descripción del pedido -->
        <div class="mb-4">
          <label class="block text-sm font-semibold text-cyan-700 ">Descripción del pedido</label>
          <input type="text" [(ngModel)]="form.description" name="description" required
            class="mt-1 block w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-white  shadow-sm focus:border-cyan-500 focus:ring-2 focus:ring-cyan-400 p-2" />
        </div>

        <!-- Cantidad -->
        <div class="mb-4">
          <label class="block text-sm font-semibold text-cyan-700">Cantidad (€)</label>
          <input type="number" [min]="calcularTotal()" [(ngModel)]="form.amount" name="amount" required 
            class="mt-1 block w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-white   shadow-sm focus:border-cyan-500 focus:ring-2 focus:ring-cyan-400 p-2" />
        </div>

        <!-- Moneda -->
        <div class="mb-4">
          <label class="block text-sm font-semibold text-cyan-700 ">Moneda</label>
          <select [(ngModel)]="form.currency" name="currency" required
            class="mt-1 block w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-white  shadow-sm focus:border-cyan-500 focus:ring-2 focus:ring-cyan-400 p-2">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
          </select>
        </div>

        <!-- Dirección postal -->
        <div class="mb-4">
          <label class="block text-sm font-semibold text-cyan-700 ">Dirección</label>
          <input type="text" [(ngModel)]="form.address" name="address" placeholder="Ej. 12345"
            class="mt-1 block w-full rounded-md border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-900 text-white  shadow-sm focus:border-cyan-500 focus:ring-2 focus:ring-cyan-400 p-2" />
        </div>

        <!-- Stripe Card Element -->
        <div class="mb-4">
          <label class="block text-sm font-semibold text-cyan-700 dark:text-cyan-400 mb-1">Tarjeta de crédito</label>
          <div class="flex items-center space-x-2">
            <div #cardElementRef id="card-element"
              class="flex-1 min-h-[50px] p-4 border border-gray-300 dark:border-gray-600 rounded bg-white text-cyan-700 dark:text-cyan-400 shadow-sm">
            </div>
          </div>
          <div id="card-errors" class="text-red-500 text-sm mt-2"></div>
        </div>


        <div class="mt-4 border-t pt-2 flex justify-between font-bold text-gray-800">
          <span>Total a Pagar:</span>
          <span>{{ calcularTotal().toFixed(2) }} €</span>
        </div>
        <!-- Botón -->
        <div class="flex justify-end mt-6">
          <button mat-button matStepperNext (click)="pagarConStripe()"
            class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded shadow">
            Pagar
          </button>
        </div>
      </mat-step>


      <!-- Paso 3 -->
      <mat-step>
        <ng-template matStepLabel>Finalizado</ng-template>
        @if(pagoExitoso){
        <p class="my-4" style="color:green;">
          ¡Pago confirmado con éxito!
        </p>
        }

        @if(paymentResponse){
        <div class="mt-4 text-sm text-gray-900 dark:text-white space-y-2">
          <p class="text-gray-900 ">
            <strong class="font-semibold">-----Pedido terminado-----</strong>
          </p>
          <p class="text-gray-900 ">
            <strong class="font-semibold">ID del pago:</strong><span class="text-blue-600 dark:text-blue-400">{{
              paymentResponse.id
              }}</span>
          </p>
          <p class="text-gray-900 ">
            <strong class="font-semibold">Estado:</strong> <span class="text-green-600 dark:text-green-400">{{
              paymentResponse.status
              }}</span>
          </p>
          <p class="text-gray-900 ">
            <strong class="font-semibold">Client Secret:</strong> <span class="text-purple-600 dark:text-purple-400">{{
              paymentResponse.clientSecret }}</span>
          </p>
        </div>
        }
        @if(!pagoExitoso && pagoExitoso!=null && pagoExitoso!=undefined ){
        <p class="my-4" style="color:red;">
          ¡Error con el pago!:
          {{mensajeErrorPago}}
        </p>
        }

        <div class="flex justify-between mt-6">
          <button mat-button (click)="stepper.reset();limpiarCesta()"
            class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded">
            Cerrar
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
}

<app-footer></app-footer>