<app-header />
@if (mensaje!="") {
<div class="absolute top-0 left-0 w-full">
  <app-notificacion [mensaje]="mensaje" [tipo]="tipo"></app-notificacion>
</div>
}
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6 max-w-md mx-auto my-32">
  <mat-card class="p-6 shadow-lg">
    <mat-card-title class="text-2xl font-semibold text-center text-purple-700 mb-4 py-3">Iniciar Sesión</mat-card-title>
    <mat-card-content class="space-y-4">


      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Introduce tu correo" formControlName="email">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Introduce la contraseña" formControlName="contrasenia">
       
      </mat-form-field>
      <p class=" text-gray-500" >Aún no te has registrado: <a routerLink="/registrar" class="rounded-md hover:bg-green-500 px-3 py-2 font-medium text-purple-700">registrate</a></p>
    </mat-card-content>

    <mat-card-actions class="mt-6 flex justify-center">
      <button mat-raised-button color="primary" type="submit" class="w-full py-2 font-semibold"
        [disabled]="!loginForm.valid">
        Inicio de sesión
      </button>
     
    </mat-card-actions>
  </mat-card>
</form>
<app-footer />