<app-header></app-header>

<div class="container mx-auto px-4 py-8 bg-gray-100 rounded-xl shadow-md my-23">
  <!-- Barra de Filtros -->
  <div class="flex flex-col md:flex-row md:items-center md:justify-center gap-4 mb-8">
    <div class="flex flex-wrap gap-4">
      <!-- Ordenar por -->
      <mat-form-field appearance="fill" class="min-w-[200px]">
        <mat-label>Ordenar por</mat-label>
        <mat-select (selectionChange)="alCambiarOrden($event)">
          <mat-option value="fechaReciente">Fecha más reciente</mat-option>
          <mat-option value="fechaAntigua">Fecha más antigua</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Filtrar por Restaurante -->
      <mat-form-field appearance="fill" class="min-w-[200px]">
       
        <mat-label>Filtrar por Restaurante</mat-label>
        <mat-select (selectionChange)="alCambiarRestaurante($event)">
          @for (restaurante of nombresRestaurantes; track restaurante) {
          <mat-option [value]="restaurante">{{ restaurante }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  

  <!-- Tarjetas de comida -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    @for (comida of comidasFiltradas; track comida) {
    <mat-card class="w-full max-w-sm mx-auto shadow-md hover:shadow-lg transition-shadow duration-300">
      <img mat-card-image [src]="comida.imagen" class="w-full h-40 object-cover rounded-t" />
      <mat-card-content class="space-y-2 p-4">
        <h3 class="text-2xl font-extrabold text-gray-900 mb-2">{{ comida.nombre }}</h3>

        <p class="text-base font-semibold text-indigo-700 mb-1">
          Restaurante: <span class="font-normal text-gray-800">{{ comida.restaurante }}</span>
        </p>

        <p class="text-base font-semibold text-green-700 mb-1">
          Precio: <span class="font-normal text-gray-900">{{ comida.precio.toFixed(2) }}€</span>
        </p>

        <p class="text-sm italic text-gray-500 mb-2">
          Fecha añadida: {{ comida.fechaSubida | date:'fullDate' }}
        </p>

        <p class="text-base text-gray-700 mb-1">
          Categoría: <span class="font-semibold">{{ comida.categoria }}</span>
        </p>

        <p class="text-base text-gray-700">
          Tiempo preparación: <span class="font-semibold">{{ comida.tiempoPreparacion }} min</span>
        </p>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
<app-footer></app-footer>