<app-header/>

<section class="bg-gradient-to-br from-gray-900 via-gray-700 to-gray-500 text-white py-24 text-center px-6">
  <h1 class="text-5xl font-bold mb-4">🍣 Bienvenido a Washabi</h1>
  <p class="text-xl mb-8">Gestión de reservas y pedidos con tecnología QR</p>
</section>

<section class="py-20 bg-gray-400 text-center">
  <h2 class="text-3xl font-bold mb-10">¿Por qué usar Washabi?</h2>
  <div class="grid md:grid-cols-3 gap-8 px-4 max-w-6xl mx-auto">

    <div class="bg-white p-6 rounded-2xl shadow-md  hover:shadow-blue-500 transition">
      <h3 class="text-blue-500 text-xl font-bold mb-2">Clientes con reserva</h3>
      <p class="text-gray-600">Se registran, obtienen un QR y al llegar lo escanean. Se notifica su reserva automáticamente.</p>
    </div>

    <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-blue-500 transition">
      <h3 class="text-blue-500 text-xl font-bold mb-2">Clientes sin reserva</h3>
      <p class="text-gray-600">Pueden escanear un QR en la mesa para acceder a un menú limitado y hacer pedidos al instante.</p>
    </div>

    <div class="bg-white p-6 rounded-2xl shadow-md hover:shadow-blue-500 transition">
      <h3 class="text-blue-500 text-xl font-bold mb-2">Priorización inteligente</h3>
      <p class="text-gray-600">El sistema adapta la cola según la reserva y tipo de comida para optimizar tiempos.</p>
    </div>

  </div>
</section>


<app-footer/>
  
