<app-header />
<mat-toolbar color="primary" class="!bg-cyan-500 !text-white shadow-md justify-center space-x-8">
  <a routerLink="/ajuste"
     class="text-white font-medium hover:text-amber-600 hover:underline transition duration-200 flex items-center space-x-2">
    <mat-icon>settings</mat-icon>
    <span>Ajustes de Perfil</span>
  </a>
</mat-toolbar>
<div class="max-w-6xl mx-auto mt-10 p-8 bg-white shadow-lg rounded-xl space-y-8 my-12">
  <h2 class="text-3xl font-bold text-center text-gray-800">Perfil de Cliente</h2>

  <!-- Imagen del Usuario -->
  <div class="flex justify-center">
    <img [src]="perfil.imagenUrl" alt="Foto de perfil"
      class="w-36 h-36 object-cover rounded-full border-3 bg-cyan-500 border-x-amber-300 shadow-cyan-300 shadow-2xl" />
  </div>

  <!-- Campos del perfil -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">

    <!-- Columna 1: Nombre -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label class="text-black">Nombre</mat-label>
      <input matInput [value]="perfil.nombre" disabled>
    </mat-form-field>

    <!-- Columna 2: Email y Fecha de Creación -->


    <!-- Columna 3: Rol -->
    <mat-form-field appearance="outline" class="w-full" >
      <mat-label class="text-black">Rol</mat-label>
      <input matInput [value]="perfil.rol" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label class=" text-black">Email</mat-label>
      <input matInput [value]="perfil.email" disabled>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label class="text-black">Fecha de Creación</mat-label>
      <input matInput [value]="perfil.fechaCreacion" disabled>
    </mat-form-field>

  </div>
</div>
<app-footer />