
<footer class="bg-purple-800 text-white mt-auto ">
  <!--Grid cols 1 para movil y cuando este a una resolución superior a 768px habrá tres elementos en vez de uno-->
    <div class=" max-w-7xl mx-auto px-4 py-7 grid grid-cols-1 md:grid-cols-3 gap-10">
      
      <!-- Tarjeta 1 -->
      <div class="bg-purple-700 p-4 rounded-xl shadow-md">
        <h3 class="text-lg font-bold mb-2">Restaurante A</h3>
        <p class="text-sm">Delicioso sushi hecho al momento con ingredientes frescos. Pide ahora y disfruta</p>
      </div>

      <!-- Tarjeta 2 -->
      <div class="bg-purple-700 p-4 rounded-xl shadow-md">
        <h3 class="text-lg font-bold mb-2">Restaurante B</h3>
        <p class="text-sm">Prueba nuestra selección de sake, té matcha, y refrescos exóticos japoneses.</p>
      </div>

      <!-- Redes sociales -->
      <div class="flex flex-col gap-3 justify-center">
        <h3 class="text-lg font-bold">Síguenos en:</h3>
        <div class="flex space-x-4">
          <!-- Facebook -->
          <a href="https://www.facebook.com/?locale=es_ES" class="bg-white text-purple-700 p-3 rounded-full shadow-md hover:bg-orange-500 hover:text-white transition duration-300">
            <img class="size-6" src="img/facebook.png" alt="facebook">
          </a>
          <!-- Instagram -->
          <a href="https://www.instagram.com/" class="bg-white text-purple-700 p-3 rounded-full shadow-md hover:bg-orange-500 hover:text-white transition duration-300">
            <img class="size-6" src="img/insta.webp" alt="instagram">
          </a>
          <!-- Twitter / X -->
          <a href="https://x.com/?lang=es" class="bg-white text-purple-700 p-3 rounded-full shadow-md hover:bg-orange-500 hover:text-white transition duration-300">
            <img class="size-6" src="img/X.svg" alt="twitter">
          </a>
        </div>
      </div>

    </div>

    <!-- CopyRigth -->
    <div class="bg-purple-900 text-center py-4 text-sm">
      &copy; 2025 Washabi. Todos los derechos reservados.
    </div>
  </footer>