<app-header />


<mat-toolbar color="primary" class="!bg-cyan-500 !text-white shadow-md justify-center space-x-8">
  <a routerLink="/perfil"
    class="text-white font-medium hover:text-amber-600 hover:underline transition duration-200">Perfil</a>
</mat-toolbar>
<div class="max-w-6xl mx-auto mt-12 p-10 bg-white shadow-xl rounded-2xl space-y-10 my-25">

  <h2 class="text-4xl font-bold text-center text-gray-800">Editar</h2>

  <form [formGroup]="perfilForm" (ngSubmit)="guardarCambiosCliente()" class="my-16">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-6 ">

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nuevo Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Ingresa tu nuevo nombre">
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Nueva Contraseña</mat-label>
        <input matInput type="password" formControlName="contrasenia" placeholder="Ingresa nueva contraseña">
      </mat-form-field>


      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Selecciona tu foto de perfil</mat-label>

        <input type="text" matInput [value]="nombreArchivo" placeholder="Ningún archivo seleccionado" disabled />

        <button matSuffix mat-icon-button (click)="fileInput.click()" aria-label="Subir imagen" type="button">
          <mat-icon>upload</mat-icon>
        </button>
      </mat-form-field>
      <!--El #fileInput es una referencia para cuando le des al icono de upload-->
      <input type="file" #fileInput (change)="enArchivoSeleccionado($event)" accept="image/*" hidden />


    </div>
    <div class="flex justify-center mt-8">
      <button mat-raised-button color="primary" type="submit" class="px-6 py-2 text-white font-semibold">
        Guardar Cambios Cliente
      </button>
    </div>
  </form>
</div>
<app-footer />